.container {
    width: 100dvw;
    aspect-ratio: 4 / 5;
    max-width: 720px;
    margin: 0 auto;
}

.title,
.body,
.markdown {
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 20px;
    padding: 2rem;
    border: none;
    background-color: transparent;
}


.title,
.body {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px dashed var(--base);
    color: var(--secondary)
}

.title {
    max-height: 10ch;
    word-wrap: break-word;
    word-break: break-all;
}

.title:focus-visible,
.body:focus-visible {
    outline: none;
}

.btnsContainer {
    display: grid;
    bottom: 2rem;
    gap: 1rem;
    width: fit-content;
    max-width: 90dvw;

    /* Sandwich btwn main content and ModalSlides */
    z-index: 55;
}

.initHelpersState,
.initHelpersState button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.initHelpersState button {
    gap: 0.5rem;
    border: 1px solid var(--base);
    padding: 0.5rem;
    border-radius: 10px;
    width: 100px;
}

.initHelpersState div {
    width: 1rem;
    aspect-ratio: 1 / 1;
}