.container {
    width: 100dvw;
    aspect-ratio: 4 / 5;
    max-width: 720px;
    margin: 0 auto;
}

.title,
.body,
.markdown {
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 20px;
    padding: 2rem;
    border: none;
    background-color: transparent;
}


.title,
.body {
    resize: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px dashed var(--base);
    color: var(--secondary)
}

.title {
    max-height: 10ch;
    word-wrap: break-word;
    word-break: break-all;
}

.title:focus-visible,
.body:focus-visible {
    outline: none;
}