.main {
    flex: 2;

    display: flex;
    gap: 1rem;
}

.svgContainer {
    /* border: 1px solid green; */
    display: grid;
    place-items: center;
    cursor: pointer;

    position: relative;
    aspect-ratio: 1 / 1;
    width: 32px;
    z-index: 100;
}

.svgContainer svg {
    position: absolute;
    z-index: 100;
}