.complexContainer,
.container {
    border-radius: 10px;
    border: 1px solid var(--base);
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

.complexContainer {
    margin-top: 0.65rem;
}

.content {
    display: flex;
    gap: 0.5rem;
}

.content > * {
    flex: 2
}

.content > img {
    flex: 1;
    border-radius: 10px;
}

.content h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content div {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-weight: lighter;
}

.readTime,
.complexMeta,
.metadata {
    font-weight: lighter;
    font-size: small;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.readTime,
.metadata {
    opacity: 0.7;
}

.complexMeta div:last-of-type a {
    font-size: medium;
    font-weight: bold;
}

.complexMeta div:last-of-type span {
    opacity: 0.5;
}

