.container[open] {
    margin: auto;
    min-height: 50dvh;
    width: clamp(500px, 80%, 720px);
    background-color: var(--background);
    border: none;
    box-shadow: var(--subtleGlow);
    border-radius: 10px;
    color: var(--color);
}

.container * {
    color: var(--color);
}

.container::backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.25);
}

.wrapper {
    border: 1px solid;
    padding: 1rem;
    min-height: inherit;
}

.barContainer {
    position: sticky;
    top: -1rem;
    padding: 1rem;
    z-index: 99;
    background-color: var(--background);
}


/* SEARCH BAR - START */
.searchBar {
    --iconSize: 2rem;
    --padding: 1rem;
    position: relative;
    width: 100%;
    height: 1rem;
    display: grid;
    align-items: center;
    padding: var(--padding);
}

.searchBar input {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: var(--padding);
    /* Move the input.value according to icon's width + icon's padding */
    padding-left: calc(var(--iconSize) + calc(var(--padding) * 0.5));
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--base);
}

.searchBar label {
    position: absolute;
    z-index: 2;
    height: inherit;
    width: var(--iconSize);
    padding-left: calc(var(--padding) * 0.5);
}
/* SEARCH BAR - END */

/* STATUS BAR - START */
/* .statusBar > * {
    border: 1px solid;
    padding: 1rem;
    margin: 1rem;
} */

/* STATUS BAR - END */

.unsplash {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.svgContainer {
    display: grid;
    place-items: center;
}

.photos {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.filterBar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    justify-content: space-around;
}

.filterBar > * {
    border: 2px solid var(--base);
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}