.container {
    position: fixed;
    z-index: 999;
}

.close {
    position: absolute;
    right: 1rem;
    opacity: 0.5;
    transition: all 200ms ease;
}

.close:hover {
    opacity: 1
}

.slide {
    min-height: 100dvh;
    min-width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: var(--subtleGlow);

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 350px;
}

.slide a {
    /* width: max-content; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid; */
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    background-color: none;
    transition: all 100ms ease;
}

.slide a:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.slide svg {
    color: var(--base);
    width: 16px;
}

.backdrop {
    width: 100vw;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
}

.softRight {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}