* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color-scheme: dark;
  min-height: 200vh;
}

html {
  --white: #E9F8FF;
  --black: #030B0E;
  --base: #54D1FF;
  --secondary: #E9F8FF;

  /* For box shadow to be used as a border */
  --subtleGlow: 0 0px 10px -2px var(--base);

  --background: #030B0E;
  background-color: var(--background);
}

html.lightMode {
  --secondary: #030B0E;
  --background: #E9F8FF;
  color-scheme: light;
}

button {
  background-color: var(--background);
  color: var(--base);
  border: none;
}

button:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2px var(--white));
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  width: 25px;
}

.svgContainer {
  display: grid;
  place-items: center;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.25rem;
  aspect-ratio: 1 / 1;
  height: 2.3rem;
}

/* Edit logo size by adjusting --height for each use case */
.logo img {
  --height: 75px;
  height: var(--height);
  padding: calc(var(--height) * 0.11);
  border-radius: calc(var(--height) * 0.26);
  
  background-color: var(--base);
  aspect-ratio: 1 / 1;
}