* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color-scheme: light;
  min-height: 200vh;
}

html.darkMode {
  color-scheme: dark;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  width: 25px;
}

.svgContainer {
  display: grid;
  place-items: center;
  border: 1px solid;
  border-radius: 10px;
  padding: 0.25rem;
}