.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
}

.left {
  box-shadow: var(--subtleGlow);
  padding: 1rem;
  position: sticky;
  top: 5rem;
  border-radius: 10px;
  max-height: 85dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.left > .posts {
  max-height: 85%;
  overflow: auto;
}

.posts {
  display: grid;
  gap: 1rem;
}

.right > .posts {
  gap: 2rem;
}

@media (min-width: 1024px) {
  .right {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 800px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }

  .left {
    position: static;
    box-shadow: none;
    padding: 0;
    overflow-y: scroll;
    max-height: 300px;
  }
}