.close {
    position: absolute;
    right: 1rem;
    opacity: 0.5;
    transition: all 200ms ease;
}

.close:hover {
    opacity: 1
}

.posts {
    max-height: 400px;
    overflow-y: scroll;
    display: grid;
    gap: 1rem;
}

.container footer {
    position: absolute;
    bottom: 1rem;
    opacity: 0.5;
}