.container {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.menuItems {
    position: absolute;
    background-color: grey;
    z-index: 2;
    top: 0;
    right: 0;
    
    display: grid;
    place-items: center;
    padding: 0.4rem;
    gap: 0.5rem;
}

.menuItems > * {
    border: 1px solid black;
    padding: 0.25rem;
}