.container {
    /* position: relative; */
    /* Dont use this as ref: best to use the navbar as ref; */
    display: grid;
    place-items: center;
}

.modal {
    display: flex;
    border: 1px solid yellow;
    position: absolute;
    top: 100%;
    z-index: 999;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
    /* right: 2rem; */
    gap: 1rem;
    border-radius: 10px;
}