.container {
    /* position: relative; */
    /* Dont use this as ref: best to use the navbar as ref; */
    display: grid;
    place-items: center;
}

.modal {
    display: flex;
    position: absolute;
    top: 100%;
    z-index: 999;
    flex-direction: column;
    padding: 1rem;
    width: 300px;
    /* right: 2rem; */
    gap: 1rem;
    border-radius: 10px;
    box-shadow: var(--subtleGlow);
    height: max-content;
    max-height: 500px;
    align-items: center;
    backdrop-filter: blur(10px);
    /* background-color: var(--background); */
}

.cards {
    max-height: 400px;
    overflow-y: scroll;
    display: grid;
    gap: 1rem;
}

.card {
    border: 1px solid var(--base);
    padding: 1rem;
    border-radius: 10px;
}

.modal > button {
    color: var(--base);
    border: 1px solid;
    padding: 0.25rem 0.5rem;
    width: max-content;
    transition: all 200ms ease;
    border-radius: 10px;
}

.modal > button:hover {
    background-color: var(--base);
    color: var(--black);
    outline: none;
    filter: none;
}

.loader {
    position: relative;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    width: 25%;
}