.nav {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 99;
    top: 0;
    padding: 0.5rem 1rem;
}

.nav > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
