.modal {
    border: 1px solid var(--base);
    position: absolute;
    bottom: 200%;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    cursor: auto;

    max-width: 200px;
    height: max-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: bottom center;
    padding-bottom: 2rem;
    gap: 0.5rem;
    backdrop-filter: blur(15px);
}

.modal > * {
    width: 100%;
    text-align: center;
}

.modal > div {
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 100ms ease;
}

.modal > div:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
    color: var(--base)
}
