.container {
    border: 1px solid var(--base);
    position: fixed;
    z-index: 9;
    width: 60%;
    max-width: 720px;
    padding: 1rem 2rem;
    border-radius: 30px;

    bottom: -2rem;
    left: 50%;
    translate: -50% 0;

    display: flex;
    backdrop-filter: blur(15px);
    box-shadow: var(--subtleGlow);
    color: var(--secondary);
}

.container * {
    color: var(--secondary)
}