.container {
    box-shadow: var(--subtleGlow);
    display: grid;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
    transition: box-shadow 500ms ease;
    transition-delay: 200ms;
    min-width: 200px;
}

.container:hover {
    box-shadow: var(--subtleGlowGrow);
}

.userInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.userStats {
    display: flex;
    justify-content: space-around;
}

.userStats > span > span {
    color: var(--base)
}