.slideContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.slideContent a {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.slideContent svg {
    width: 16px;
}

.close {
    position: absolute;
    right: 1rem;
    opacity: 0.5;
    transition: all 200ms ease;
}

.close:hover {
    opacity: 1
}